@font-face {
    font-family: "Big Noodle";
    src: url("../font/big_noodle_titling.ttf");
}

@font-face {
    font-family: "Digital";
    src: url("../font/DS-DIGI.TTF");
}

:focus {outline:none;}

body {
    box-sizing: border-box;
    background-color: #141516;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a, a:hover, a:active, a:visited {
    text-decoration: underline;
    color: #fff;
}

button, a.button {
    border: 1px solid #9d9d9d;
    border-radius: 7px;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffc70e;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    background-color: rgba(255,255,255,.04);
    padding: 10px;
    width: 24%;
    cursor: pointer;
    font-size: 2em;
}

a.button {
    text-decoration: none;
}

button:hover, a.button:hover {
    color: #fff;
}

button.active, a.button.active {
    color: #fff;
}

/** Typography? **/

h1 {
}

h2 {
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

h1.pageTitle {
    font-family: "Big Noodle", sans-serif;
    font-size: 4em;
    background: url(../img/logo-small-overwatch.png) no-repeat;
    background-size: contain;
}

h1.pageTitle span {
    margin-left: 1.1em;
}

p {
    background-color: rgba(255,255,255,.05);
    border: 1px solid #3f3f3f;
    border-radius: 7px;
    padding: 10px;
}

p strong {
    font-weight: bold;
}

.secondaryText {
    color: rgba(255,255,255,.5);
    font-size: 0.8em;
}

/** Character **/

.panel-character-stats {
    margin-bottom: 10px;
}

.character-stats {
    width: 100%;
}

.character-stats th {
    text-align: left;
    font-weight: bold;
    color: rgba(255,255,255,.7);
    width: 30%;
}

.panel-timer {

}

.panel-timer .clock {
    font-size: 2em;
    font-family: "Digital", serif;
    display: block;
}

.panel-timer .description {
    font-size: 1em;
    color: rgba(255,255,255,.5);
}

.money {
    color: greenyellow;
}

.beta-chance {
    color: #00b4ff;
}

.custom-darkness {
    color: #720000;
}

/** News **/

.panel-news-title {
    color: rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px #000;
    font-family: "Big Noodle", serif;
}

.panel-news {
    background-color: #0b4772;
    padding: 5px;
    margin-bottom: 10px;
    height: 3em;
    border: 1px solid #2976AD;
    border-radius: 7px;
    width:98%;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

/** Actions **/

.panel-actions-buttons {
    margin-bottom: 1em;
}

.panel-actions-buttons button {
    width: 19%;
    font-size: 1.5em;
}

.action-option {
    cursor: pointer;
    margin-bottom: 1em;
    color: rgba(255,255,255,.9);
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.action-option > .title {
    display: block;
    font-weight: bold;
    text-transform:  uppercase;
}

.action-option > .title:before {
    content: '> ';
}

.action-option.quest-option > .title:before {
    content: '';
}

.action-option:hover {
    color: yellow;
}

.action-option > .description {
    display: block;
    margin-left: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}

.action-option > .sub-description {
    display: block;
    margin-left: 1.2em;
    margin-top: 3px;
}

.quest-option.quest-incomplete > .title:before {
    background-size: 1em 1em;
    background: url('../img/Quest_Avail_Inside_16x16.png') no-repeat;
    padding-left: 1.2em;
}

.quest-option.quest-complete > .title:before {
    background-size: 1em 1em;
    background: url('../img/Quest_Complete_Inside_16x16.png') no-repeat;
    padding-left: 1.2em;
}

.new {
    font-weight: normal;
    text-transform: lowercase;
    color: yellow;
}

.rarity {
    font-weight: normal;
    text-transform: lowercase;
}

.common {
    color: #ffffff;
}

.uncommon {
    color: #1eff00
}

.rare {
    color: #0070dd;
}

.epic {
    color: #a335ee;
}

.legendary {
    color: #ff8000;
}

.quest {
    color: #e6cc80
}

/** Game over **/

.game-over-title, .game-over-description {
    opacity: 0;
}

.game-over-title {
    text-align: center;
    margin-bottom: 20px;
}

/** Dialogs **/

.ui-dialog {
    background-color: #000;
    border: 1px solid #9d9d9d;
    border-radius: 7px;
    padding: 10px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-buttonset {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ui-button {
    padding: 5px;
    font-size: 1em;
    width: 75%;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-front {
    z-index: 100;
}

/** Class select **/

.panel-class-select {
    margin-top: 20px;
    cursor: pointer;
}

.panel-class-select:hover {
    color: yellow;
}

.panel-class-select .title {
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-transform: uppercase;
}

/* Words */

.word {
    padding-left: 1.2em;
    display:inline-block;
    margin-bottom: 0.3em;
}

.ui-dialog .word {
    margin-bottom: 1em;
}

.word:after {
}

.word-salt {
    background: url('../img/Holy_dust.png') no-repeat;
    background-size: 1em;
}

.word-time {
    background: url('../img/Inngossipicon.png') no-repeat;
    background-size: 1em;
}

.word-quest {
    background: url('../img/Quest_Avail_Inside_16x16.png') no-repeat;
    background-size: 1em;
}

.word-quest-complete {
    background: url('../img/Quest_Complete_Inside_16x16.png') no-repeat;
    background-size: 1em;
}

.word-money {
    background: url('../img/MiniIcon_Auctioneer.png') no-repeat;
    background-size: 1em;
}

.word-item {
    background: url('../img/MiniIcon_Repair.png') no-repeat;
    background-size: 1em;
}

.word-beta {
    background: url('../img/blizzIcon.gif') no-repeat;
    background-size: 1em;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;

    margin-left: 5px;
}

/* Achievements */

.achievement {
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    margin-bottom: 5px;
    font-size: 0.8em;
}

.achievement-header {
    display: block;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    background-color: rgba(255,255,255,.04);
}

.achievement-achieved {
    color: #ffc70e;
}

.achievement-points {
    float:right;
}

.achievement-body {
    display: block;
    padding: 5px;
    width: 100%;
}