<!DOCTYPE html>
<html>
<head>
    <title>Overwatch Beta: The RPG</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="stylesheet" href="css/csshake.min.css" type="text/css" >
    <link rel="stylesheet" href="css/endcredits.css" type="text/css" >
    <script type='text/javascript'>
        var oldIE = false;
    </script>
    <!--[if lt IE 9]>
        <script type="text/javascript">oldIE = true;</script>
    <![endif]-->
    <script data-main="js/setup" src="js/lib/require.js"></script>
</head>
<body>

<div id="container">
    <div class="content">
        <h1 class="pageTitle">
            <span>Overwatch Beta: The RPG</span>
        </h1>
        <div id="canvas">

        </div>
    </div>
</div>

<div id="titles">
    <div id="credits">
        <div id="the-end">Overwatch Beta: The RPG</div>

        <br/>

        <h1>Development</h1>

        <dl>
            <dt>Executive producer</dt>
            <dd>Darkust#6214</dd>
            <dt>Design director</dt>
            <dd>Darkust#6214</dd>
            <dt>Story director</dt>
            <dd>Darkust#6214</dd>
            <dt>Art director</dt>
            <dd>Darkust#6214</dd>
            <dt>Cinematics art director</dt>
            <dd>Darkust#6214</dd>
            <dt>Lead designer</dt>
            <dd>Darkust#6214</dd>
            <dt>Lead producer</dt>
            <dd>Darkust#6214</dd>
            <dt>Lead programmer</dt>
            <dd>Darkust#6214</dd>
            <dt>Lead technical artist</dt>
            <dd>Darkust#6214</dd>
        </dl>

        <h1>Testing</h1>

        <dl>
            <dt>Tester</dt>
            <dd>Darkust#6214</dd>
        </dl>

        <h1>Additional Testing</h1>

        <dl>
            <dt>Tester</dt>
            <dd>Maybeshewill#1551</dd>
        </dl>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


    </div>
    <div class="clearfix"></div>
</div>


<script id="template-home" type="text/html">

    <div>

        <br/>

        <p>
            You have 6 minutes to get accepted into the Overwatch Beta.<br/>
            <br/>
            You must keep your saltiness low and work to increase your beta chances before the time runs out.<br/>
            <br/>
            If your saltiness level reaches 100% you lose. If you run out of time you lose.<br/>
            <br/>
            The only way to tell if you are in the beta is to use the <strong>Check your Battle.net account</strong> attack.<br/>
            <br/>
            Good luck.
        </p>

        <br/>
        <span class="secondaryText">
            Note: The wave does not work like a real beta wave does - you can be accepted into the beta at any point during
            the 6 minutes by checking your Battle.net account page.
        </span>
        <br/>

        <br/>

        <div style="text-align:center;">
            <button id="start">Start</button>
            <button id="stats">Stats</button>
            <button id="creditos" name="creditos">Credits</button>
        </div>

    </div>

</script>

<script id="template-gameover" type="text/html">

    <div>
        <h2 class="game-over-type"><%= type %></h2>
        <p class="game-over-title" style="margin-top:20px;"><%= title%></p>
        <p class="game-over-description"><%= description%></p>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a id="continue" href="javascript:;" class="button" style="display:none;">Next</a>
        <a id="restart" href="index.html?ignorebrowser=true" class="button" style="display:none;">Restart</a>
    </div>

</script>

<script id="template-battle-header" type="text/html">

    <div class="panel-header grid">
        <div class="col-3-4 panel-character-stats">

        </div>
        <div class="col-1-4 panel-timer"></div>
    </div>

</script>

<script id="template-news" type="text/html">

    <div>
        <span class="panel-news-title">Beta news stream</span>
        <div class="panel-news">
            Waiting for news to arrive!
        </div>
    </div>

</script>

<script id="template-select-class" type="text/html">

    <div>
        <h2>Select a class</h2>

        <div class="panel-class-select">

        </div>

    </div>

</script>

<script id="template-character-stats" type="text/html">

    <table class="character-stats">
        <tr>
            <th>Name</th>
            <td><%= name %></td>
        </tr>
        <tr>
            <th>Money</th>
            <td class="money">
                <span class="value"><%= moneyValue %></span>
                <span class="description"><%= moneyDescription %></span>
                <span class="increment"></span>
            </td>
        </tr>
        <tr>
            <th>Salt level</th>
            <td class="salt">
                <span class="value"><%= saltValue %>%</span>
                <span class="description"><%= saltDescription %></span>
                <span class="increment"></span>
            </td>
        </tr>
        <tr>
            <th>Beta chance</th>
            <td class="beta-chance">
                <span class="value"><%= betaChanceValue %></span>
                <span class="description"><%= betaChanceDescription %></span>
                <span class="increment"></span>
                <span class="action">
                    <a id="action-bnet" href="javascript:;">
                        Check your Battle.net account now
                    </a>
                </span>
            </td>
        </tr>
    </table>

</script>

<script id="template-battle-actions" type="text/html">
    <div class="panel-actions">
        <div class="panel-actions-buttons">
            <button id="action-attack">Action</button>
            <button id="action-quests">Quests</button>
            <button id="action-item">Item</button>
            <button id="action-shop">Shop</button>
            <button id="action-run">Run</button>
        </div>
        <div class="panel-actions-options">
        </div>
    </div>
</script>

<script id="template-battle-action-option" type="text/html">
    <div class="action-option">
        <span class="title">
            <% if (typeof(count) !== "undefined") { %>
                (<%= count %>)
            <% } %>
            <%= title %>
        </span>
        <span class="description"><%= description %></span>
        <% if (typeof(subDescription) !== "undefined") { %>
            <span class="sub-description"><%= subDescription %></span>
        <% } %>
    </div>
</script>

<script id="template-quest-action-option" type="text/html">
    <div class="action-option quest-option <%= completeCssClass %>">
        <span class="title"><%= title %></span>
        <span class="description"><%= description %></span>
    </div>
</script>

<script id="template-battle-action-shop-item" type="text/html">
    <div class="action-option">
        <span class="title"><%= title %> - $<%= cost %></span>
        <span class="description"><%= description %></span>
    </div>
</script>

<script id="template-modal" type="text/html">

    <div style="display:none;"><%= text %></div>

</script>

<script id="template-timer" type="text/html">

    <div>
        <span class="clock"></span>
        <span class="description">until beta wave ends...</span>
    </div>

</script>

</body>
</html>